---
layout: default
title: "Register Now"
group: Author Information

registrations:
  early:
    - type: Conference Only
      price: [750, 925, 350]
    - type: Conference + Workshop 
      price: [900, 1175, 400]
    - type: Workshop Only 
      price: [350, 450, 200]
  late:
    - type: Conference Only
      price: [850, 1025, 450]
    - type: Conference + Workshop 
      price: [1000, 1275, 500]
    - type: Workshop Only 
      price: [400, 500, 250]

---

<h1>Registration</h1>

<h2>A Special Note on Author Registration Policy</h2>

<p>Each accepted paper/poster must be presented by one of its author(s) at the MobiHoc main conference or workshop.</p>
<p>To present a paper/poster at the conference or any one of the workshops, at least one author should register at the full (non-student) rates.</p>

<p>&nbsp;</p>

<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<a href="http://www.cvent.com/d/g6qrbh/4W" class="btn btn-primary btn-block" role="button">&gt;&gt; Register Now &lt;&lt;</a>
</div>
</div>

<p>&nbsp;</p>



<div class="list-group condensed">
  <div class="list-group-item active">Early Registration (Ending on June 2, 2019)</div>

  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3"><b>Event</b></div>
      <div class="col-md-3"><b>ACM/SIG Member</b></div>
      <div class="col-md-3"><b>Non-Member</b></div>
      <div class="col-md-3"><b>Student</b></div>
    </div>
  </div>
  {% for reg in page.registrations.early %}
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{ reg.type }}</div>
      <div class="col-md-3">{{ reg.price[0] }} Euro</div>
      <div class="col-md-3">{{ reg.price[1] }} Euro</div>
      <div class="col-md-3">{{ reg.price[2] }} Euro</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="list-group">
  <div class="list-group-item active">Late Registration (Starting on Jun 3, 2019)</div>
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3"><b>Event</b></div>
      <div class="col-md-3"><b>ACM/SIG Member</b></div>
      <div class="col-md-3"><b>Non-Member</b></div>
      <div class="col-md-3"><b>Student</b></div>
    </div>
  </div>
  {% for reg in page.registrations.late %}
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{ reg.type }}</div>
      <div class="col-md-3">{{ reg.price[0] }} Euro</div>
      <div class="col-md-3">{{ reg.price[1] }} Euro</div>
      <div class="col-md-3">{{ reg.price[2] }} Euro</div>
    </div>
  </div>
  {% endfor %}
</div>
